# FILES
.curseclient
command_history.txt
minecraftinstance.json
options.txt
usercache.json
usernamecache.json
irisUpdateInfo.json
rhino.local.properties
jsconfig.json
ops.json
whitelist.json
/kubejs/README.txt
servers.dat
servers.dat_old
servers.essential.dat

# FOLDERS
.probe
.vscode/
.fabric/
.mixin.out/
/saves/
/data/
/ESM/
/crash-reports/
/essential/
/logs/
/downloads/
/backups/
/local/
/kubejs/probe

# MOD CONFIG
/config/*
!/config/clienttweaks-common.toml
!/config/itemphysic.json